@model SchoolClass

@{
    ViewData["Title"] = "Добавить класс";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post" class="appeal-form">
    <partial name="_Form" model="Model" />
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a class="btn btn-secondary" asp-action="Index">Отмена</a>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
