@{
    ViewData["Title"] = "О школе";
}

<h1>@ViewData["Title"]</h1>

<p class="lead">
    Верхнесаянтуйская санаторная школа-интернат создана для детей, которым требуется длительное лечение
    и щадящий образовательный режим.
</p>

<div class="row">
    <div class="col-lg-7">
        <p>
            Учреждение совмещает школьное обучение, воспитательную работу и оздоровительные мероприятия.
            Для учащихся организуются занятия, прогулки, тематические классные часы, спортивные и творческие события.
        </p>
        <p>
            Этот учебный сайт показывает базовую структуру ASP.NET Core MVC: контроллеры, модели,
            представления, статические данные и общий макет страниц.
        </p>
    </div>
    <div class="col-lg-5">
        <div class="info-panel">
            <h2 class="h5">Основные направления</h2>
            <ul class="mb-0">
                <li>общее образование;</li>
                <li>оздоровительный режим;</li>
                <li>социальная адаптация;</li>
                <li>воспитательная работа.</li>
            </ul>
        </div>
    </div>
</div>
